@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Logo */


/*Font-1*/

.font-1-xxl{
    font-family: 'Sora', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
}

.font-1-xl{
    font-family: 'Sora', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.font-1-m{
    font-family: 'Sora', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.font-1-m-b{
    font-family: 'Sora', Arial, Helvetica, sans-serif;
    font-weight: 400;
    size: 1rem;
}

.font-1-s{
    font-family: 'Sora', Arial, Helvetica, sans-serif;
    font-weight: 400;
    size: 0.93rem;
}

.font-1-s{
    font-family: 'Sora', Arial, Helvetica, sans-serif;
    font-weight: 400;
    size: 0.87rem;
}

/*Font-2*/

.font-2-xl{
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.12rem;
}

.font-2-m{
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.87rem;
}