header div{
    display: flex;
    justify-content: space-between;
}

.nav-header{
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-header a{
    padding: 8px 15px;
    background-color: var(--cor-5);
    color: var(--cor-3);
}