.apresentacao-c{
    display: flex;
    align-items: center;
    gap: 50px;
}

.img-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-5);
    width: 480px;
    height: 500px;
}

.apresentacao-descricao h1{
    margin-bottom: 20px;
}

.apresentacao-descricao p{
    margin-bottom: 40px;
    max-width: 42ch;
    line-height: 1.125;
}